AsteroidUI.xcodeproj/xcuserdata/xiaodongy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AsteroidUI.xcodeproj/xcuserdata/xiaodongy.xcuserdatad/xcschemes/xcschememanagement.plist
AsteroidUI.xcworkspace/xcuserdata/xiaodongy.xcuserdatad/UserInterfaceState.xcuserstate
AsteroidUI.xcworkspace/xcuserdata/xiaodongy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/
.DS_Store
*.txt
